body .homeicon1:active{
background-color: #FCF7ED;
}

#mydiv {
  position: absolute;
  z-index: 9;
    padding-left:  234px;
}
.lines{
   width: 499px; 
}
#mydivheader {
  cursor: move;
  z-index: 10;
}
.miore-head{
      padding: 10px;
    background-color: black;
  color: #fff;
text-align: center;
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 18px;
    font-variant: small-caps;
}
.autopro-a{
    width: 500px;
}
.miore-div{
    padding-top: 50px;
}
.splash1{
 opacity: .8;
    position: absolute;
    margin-left: 10px;
    width: 200px;
}
.overflow{
    overflow: hidden;
}
.drawn-polaroid-icon{
    width: 220px;
    position: relative;
}
.caption{
    padding-top: 5px;
    padding-bottom: 20px;
}
.blacknote-hide{
    display: none;
}
#note1{
    display:none;
}
.autopro-note{
    display: none;
    margin-left: -30px;
}
.baffled-note{
    display: none;
    float: right;
    margin-right: -30px;
}
.previous{
    text-align: left;
}
.prev-polaroid:hover + .autopro-note{
    display: block;
}
.next-polaroid:hover + .baffled-note{
    display: block;
}
.next{
   text-align: right;
}
.homeicon1:hover + .blacknote-hide{
    display: block;  
   /*  transition: top 1s ease-in-out;
  -o-transition: top 1s ease-in-out;
  -ms-transition: top 1s ease-in-out;
  -moz-transition: top 1s ease-in-out;
  -webkit-transition: top 1s ease-in-out;*/
}
.homeicon1:hover{
    max-width: 31vw;
    transition: 0.5s ease;
}
.blacknote-hide{
    max-width: 175px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}
.carousel-item{
    height: 110%;
    padding-top: 100px;
}   
.homebody{
    overflow-x: hidden;
}
.polaroidvid{
    z-index: 2;
}
#myvid{
   width: 100%;
    margin-top: 100px;
    z-index: -1;
}
#vidbutton{
    font-size: 18px;
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-variant: small-caps;
    border: 0;
    text-decoration: none;
    padding: 0;
    border: 0;
    margin-top: -100px !important;
    
}
#vidbutton:focus {
    outline:none;
}


/*.polaroidposter2:hover {
    width: 400px;
    padding-right: 0px;
    margin-top: -30px;
    transition: .5s ease;
}

.polaroidposter2:hover + .polaroidposter1{
    width: 300px;
    padding-left: 0px;
    transition: .5s ease;
}*/

.fakeposter{
    position: relative;
    padding-bottom: 470px;
    width: 350px;
    margin-bottom: -470px;
    margin-left: 400px;
}
.fakeposter:hover + .polaroidposter1{
    width: 300px;
    padding-left: 20px;
    transition: .5s ease;
}
.fakeposter:hover ~ .polaroidposter2{
    width: 400px;
    padding-left: 0px;
    margin-top: -30px;
    transition: .5s ease;
}

.polaroidposter1:hover {
    width: 400px;
    padding-right: 0px;
    margin-top: -30px;
    transition: .5s ease;
}
.polaroidposter1:hover + .polaroidposter2{
    width: 300px;
    padding-right: 0px;
    transition: .5s ease;
}
.polaroidposter2{
    width: 370px;
    padding-left: 28px;
    transition: .5s ease;
    z-index: 2;
}
.polaroidposter1{
    width: 370px;
    padding-right: 28px;
    transition: .5s ease;
}




.polaroidback{
    background-color: #1F1F21;
    height: 657px;
    padding-top: 90px;
}
.posterfloat{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.helpme{
    margin-left: 7px;
    margin-right: 7px;
}
/*//////////////PAPER///////////////////*/
.paper{
    background-image: url(paper-background-02.png);
    background-repeat:  repeat;
        cursor: url('cursor_drawn.png'), default !important;
}
.paper-nav{
    width: 120vw;
    margin-top: -20px;
}
.navbox-paper{
    width: 100vw;
    height: 58px;
    position: fixed;
    z-index: 1;
    margin-left: -150px;
}
.paper-work{
    padding-top:10px;
    max-width: 68px;
    cursor: url('cursor_click_drawn.png'), default !important;
    transition: 0.5 ease;
}
.paper-work:hover{
    padding-top:10px;
    max-width: 72px;
    cursor: url('cursor_click_drawn.png'), default !important;
    transition: 0.5 ease;
}
.paper-about{
    padding-top:10px;
    max-width: 68px;
    cursor: url('cursor_click_drawn.png'), default !important;
}
.paper-back{
    padding-top:10px;
    max-width: 168px;
    cursor: url('cursor_click_drawn.png'), default !important;
}
.paper-alex{
    padding-top:10px;
    max-width: 100px;
    cursor: url('cursor_click_drawn.png'), default !important;
}
.newsbar{
    overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
    margin-bottom: -15px;
    margin-left: -15px;
    z-index: 2;
}
.newsbar-img{
    width: 110vw;
    cursor: url('cursor_click_drawn.png'), !important;
}

/*.note-drawn-1{
    bottom: 0;
    position: fixed;
    padding-bottom: 50px;
    display: none;
}
.newsbar:hover + .note-drawn-1{
    display: block;
    
}
.smaller{
    width: 220px;
}*/
.note-drawn-1{
    bottom: 0;
    position: fixed;
    padding-bottom: 0px;
    margin-bottom: -50px;
    transition: 0.5s ease;
}
.newsbar:hover + .note-drawn-1{
    padding-bottom: 50px;
    transition: 0.5s ease;
     margin-bottom: 0px
}
.smaller{
    width: 220px;
}
/*//////////////PAPER///////////////////*/


.note-polaroid-01{
    max-width: 260px;
    margin-left: -30px;
    margin-top: -20px;
}
.arrow-polaroid-01{
    max-width: 70px;
}
.pp-row-01{
    margin-top: -70px;
}
.click{
cursor: url('cursor_click_drawn.png'), pointer !important;
}



/*/////////////////////NAV//////////////////*/
.nav-type{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 200;
    font-size: 16px;
    font-variant: small-caps;
    text-decoration: none;
    position: fixed;
    margin-top: 8px;
}
.fixed{
    position: fixed;
}
.navbox{
    width: 100vw;
    height: 54px;
    position: fixed;
    z-index: 1;
}
.nav-type:hover{
    font-weight: 700;
    text-decoration: none;
}
.nav-alex:hover{
    text-decoration: none;
}
.nav-alex{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 30px;
    font-variant: small-caps;
    position: fixed
}
.div-nav-alex{
    margin-top: -7px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    padding-bottom: 5px;
    z-index: 2;
}
/*/////////////////////NAV//////////////////*/






.pad100{
    padding-top: 100px;
}
.pad50{
    padding-top: 50px;
}
 .beige{
        background-color: #FCF7ED;
    }
.offwhite{
    background-color: #F1F1F1;
}
.purple{
    background-color: #D4B5F1;
}
.blue{
   background-color: #BBE2F6; 
}
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 25px); }
    to   { transform: translate(0, -0px); }    
}


.floating2 {  
    animation-name: floating2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating2 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}


.homeicon1{
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
}
.homeicon2{
    max-width: 32vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    transition: 0.5s ease;

}
.homeicon3{
    max-width: 25vw;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
}
.homeicon4{
    max-width: 28vw;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
}
.homeicon5{
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -380px;
    transition: 0.5s ease;
}
.homeicon2:hover{
    max-width: 34vw;
    transition: 0.5s ease;
}
.homeicon3:hover{
    max-width: 27vw;
    transition: 0.5s ease;
}
.homeicon4:hover{
    max-width: 29vw;
    transition: 0.5s ease;
}
.homeicon5:hover{
    max-width: 32vw;
    transition: 0.5s ease;
}
.home-glyph{
   margin-left: 50px; 
}
.home-auto{
  margin-left: -100px;  
}
.blurhome{
   margin-left: -100px;  
}
.blurhome2{
   margin-left: 50px;  
}
a{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    color: black !important;
    text-decoration: none !important;
}
.carousel-inner{
    height: 105vh;
    margin-top: -20px;
    width: 110vw;
    margin-left: -5vw;
}
.blurpolaroid{
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;
}
/*.carousel-control-prev{
    width: 40vw;
    margin-left: -200px;
    overflow: hidden;
    cursor: url('prev.png'), default !important;
}
.carousel-control-next{
    width: 40vw;
    margin-right: -200px;
    overflow: hidden;
    cursor: url('next.png'), default !important;
}*/
.carousel-control-prev{
    font-size: 18px;
}
.carousel-control-next{
    font-size: 18px;
}

h1{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 70px;
    font-variant: small-caps;
}
h2{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 22px;
    font-variant: small-caps;
}
h3{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 14px;
    font-variant: small-caps;
    margin-bottom: 0px;
}
p1{
    font-family: Helvetica; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
    line-height: 22px;
}
p2{
    font-family: Helvetica; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
    line-height: 14px;
}
.fontblack{
    color: black;
}
.polaroidicon{
    max-width: 215px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
.baffledicon{
    max-width: 245px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
.baffledicondiv{
    margin-top: 90px;
    padding-left: 40px;
    padding-top: 50px;
}
.minirow2{
    margin-top: -10px;
}
.autoproicon{
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    margin-top: -350px;
}
.glyphseticon{
  max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;  
}
.blur2{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
}
.glyphsetdiv{
    margin-left: 150px;
    margin-right: -150px;
    overflow: none;
}
.blur3{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
    margin-top: -50px;
}



.polaroidpara{
    max-width: 435px;
}
.blur1{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
}
.polaroidicondiv{
    margin-top: 90px;
    padding-left: 40px;
}
.polaroidicondiv-drawn{
    margin-top: 40px;
    padding-left: 130px;
}
.minirow{
    margin-top: -50px;
}

.pad35{
    padding-bottom: 35px;
}

.polaroidicondivsm{
    display: none;
}

.hide-when-big{
    display: none;
}
.baffled-gif{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -2px;
    margin-bottom: -12px;
}

.resize{
    width: 910px;
}
iframe:focus {
  outline: none;
}
iframe {
  outline: none;
    background-color: white;
}

#containerworldTime {
    height: 600px;
    margin:auto;
    overflow: hidden;
    max-width: 912px;
}
#containerworldTime iframe {

    margin-left: -140px;
    margin-top: -95px;
    -webkit-transform:scale(0.77);
    -moz-transform:scale(0.77);
    -o-transform:scale(0.77);
    -ms-transform:scale(0.77);
}  
.bottom{
    margin-top: -40px;
    margin-left: -5px;
    margin-right: -5px;
}
.bottom2{
    background-color: #B886E9;
    width: 100%;
    height: 10px;
}

/*/////////////////////MEDIA QUERIES 768//////////////////*/

@media only screen and (max-width: 768px){
    #containerworldTime {
    height: 400px;
    margin:auto;
    overflow: hidden;
    max-width: 750px;
}
#containerworldTime iframe {

    margin-left: -258px;
    margin-top: -170px;
    -webkit-transform:scale(0.57);
    -moz-transform:scale(0.57);
    -o-transform:scale(0.57);
    -ms-transform:scale(0.57);
} 
    .bottom{
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
}
.bottom2{
    background-color: #B886E9;
    width: 100%;
    height: 10px;
}
    #mydiv {
  position: absolute;
  z-index: 9;
    padding-left:  20px;
}
.lines{
   width: 319px; 
}
#mydivheader {
  cursor: move;
  z-index: 10;
}
.miore-head{
      padding: 10px;
    background-color: black;
  color: #fff;
text-align: center;
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 16px;
    font-variant: small-caps;
}
.autopro-a{
    width: 320px;
}
.miore-div{
    padding-top: 50px;
}
    
    
    .autopro-icons-sm{
        margin-left: -100px;
    }
    .autoproicon{
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
    margin-top: -330px;
}
.glyphseticon{
  max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px; 
}
.blur2{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
}
.glyphsetdiv{
    margin-left: 100px;
    margin-right: -100px;
    overflow-x: hidden;
}
.blur3{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
    margin-top: -40px;
}

    
    .mobile-size{
        max-width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }
    .homeicon1:hover + .blacknote-hide{
    display: none;    
}
    .carousel-control-prev{
    font-size: 14px;
}
.carousel-control-next{
    font-size: 14px;
}
    .homeicon1{
    max-width: 50vw;
}
.homeicon2{
    max-width: 50vw;
   /*padding-top: 100px*/;
}
.homeicon3{
    max-width: 45vw;
}
    
    .homeicon4{
    max-width: 32vw;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
}
.homeicon5{
    max-width: 42vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -330px;
    transition: 0.5s ease;
}
    .homeicon1:hover{
    max-width: 52vw;
    transition: 0.5s ease;
}
.homeicon2:hover{
    max-width: 52vw;
    transition: 0.5s ease;
}
.homeicon3:hover{
    max-width: 47vw;
    transition: 0.5s ease;
}
.homeicon4:hover{
    max-width: 33vw;
    transition: 0.5s ease;
}
.homeicon5:hover{
    max-width: 41vw;
    transition: 0.5s ease;
}
    .home-glyph{
   margin-left: 70px; 
}
.home-auto{
  margin-left: -50px;  
}
    .blurhome{
        -50px
    }
    .blurhome2{
        margin-left: 70px; 
    }
    
    
    
    
    
    .blurpolaroid{
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;
        padding-top: 5vh;
}
    .carousel-item{
    padding-top: 22vh;
}  
    
    .hide-when-big{
    display: block;
}
    .polaroidicon2{
    max-width: 215px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    margin-top: -50px;
}
    .hide-when-small{
        display: none;
    }
    .minirow{
        max-width: 435px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .minirow2{
        max-width: 435px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .polaroidpara{
        margin-left: auto;
        margin-right: auto;
    }
    .h1sm{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    

.burger{
        position: fixed;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 47vw;
    padding-right: 47vw;
    z-index: 1;
    }
    .burger2{
        position: fixed;
    padding-top: 10px;
    padding-left: 47vw;
    padding-right: 47vw;
    z-index: 1;
    }

.overlay {
    height: 0%;
    width: 100vw;
    margin-left: -15px;
    position: fixed;
    z-index: 2;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 10px;  
    color: white;
}
.overlay a {
    padding: 5px;
    text-decoration: none;
    font-size: 27px;
    color: white;
    display: block;
    transition: 0.3s;    
}
  h4{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 24px;
    font-variant: small-caps;
    }
    .menubutton{
        color: white;
        font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 22px;
    font-variant: small-caps;
        padding-top: 10px;
    }
    .closebtn{
        color: white !important;
        text-align: center;
        margin-top: 15vh;
        position: relative;
        font-family: 'Roboto Mono', monospace; 
        font-weight: 700;
        font-size: 24px;
        font-variant: small-caps;
    }
        .menu{
        margin-left: auto;
        margin-right: auto;
    }
}



/*/////////////////////MEDIA QUERIES 768//////////////////*/








/*/////////////////////MEDIA QUERIES 470//////////////////*/

@media only screen and (max-width: 470px){

        .homeicon4{
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
}
.homeicon5{
    max-width: 54vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -215px;
    transition: 0.5s ease;
}
.homeicon4:hover{
    max-width: 40vw;
    transition: 0.5s ease;
}
.homeicon5:hover{
    max-width: 55vw;
    transition: 0.5s ease;
}
    .home-glyph{
   margin-left: 30px; 
}
.home-auto{
  margin-left: -30px;  
}
        .blurhome{
   margin-left: -30px;  
}
.blurhome2{
   margin-left: 30px;  
}
    
    .autopro-icons-sm{
        margin-left: -100px;
    }
    .autoproicon{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
    margin-top: -200px;
}
.glyphseticon{
  max-width: 125px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;  
}
.blur2{
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
}
.glyphsetdiv{
    margin-left: 100px;
    margin-right: -100px;
    overflow: none;
}
.blur3{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
    margin-top: -30px;
}

    .polaroidposter2{
    width: 150px;
    padding: 0;
}
.polaroidposter1{
    width: 150px;
    padding: 0;
}

.polaroidback{
    background-color: #1F1F21;
    height: 240px;
    padding-top: 20px;
}
.posterfloat2{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.helpme{
    margin-left: 7px;
    margin-right: 7px;
    max-width: 342px;
        margin-left: auto;
        margin-right: auto;
}
    
    .mobile-size{
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    
        .carousel-item{
    padding-top: 30vh;
} 
    .burger{
        position: fixed;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 43vw;
    padding-right: 43vw;
    }
    .burger2{
        position: fixed;
    padding-top: 10px;
    padding-left: 43vw;
    padding-right: 43vw;
    z-index: 1;
    }
    .menubutton{
        color: white;
        font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 20px;
    font-variant: small-caps;
    }
    h1{
    font-size: 54px;
}
h2{
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
}
h3{
    font-size: 12px;
}
p1{
    font-size: 14px; 
    line-height: 20px;
}
p2{
    font-size: 12px; 
    line-height: 14px;
}
    .minirow{
        max-width: 335px;
    }
    .minirow2{
        max-width: 335px;
    }
    .polaroidpara{
        max-width: 335px;
        margin-left: auto;
        margin-right: auto;
    }
    .h1sm{
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
     .polaroidicon2{
    max-width: 110px;
    padding-bottom: 20px;
    margin-top: -40px;
}
    .blur1{
    max-width: 150px;
    opacity: .5;  
}
    h4{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 24px;
    font-variant: small-caps;
    }
}

/*/////////////////////MEDIA QUERIES 470//////////////////*/

@media only screen and (max-width: 376px){
    
    
    ALL OF YOUR CHANGES HERE
    
    
    
    
}