
.paper-work-subtitle{
   max-width: 115px; 
}
.escape-row-one{
    margin-top: -50px;
}
.escape-col{
    padding-top: 398px;
}
.footer-paper-link{
    max-width: 250px;
}
.footer-paper-bar{
     width: 1600px;
  margin-bottom: -90px;
    height: 100px;
    margin-left: -110px;
}
.blacknote-hide-2{
    max-width: 175px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    
}
.blacknote-hide-2{
    display: none;
    margin-bottom: -118px;
    padding-top: 52px;
        margin-left: -70px;
}

.nav-alex:hover + .blacknote-hide-2{
    display: block;  
}
.blacknote-hide-3{
    max-width: 175px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    
}
.blacknote-hide-3{
    display: none;
    margin-bottom: -71px;
    padding-top: 5px;
   margin-left: 0px
}

.colour-boxes:hover + .blacknote-hide-3{
    display: block;  
}
.no-margin{
margin-left: -30px;
    margin-right: -30px;
}

#spin {
  color:black;
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 80px;
    font-variant: small-caps;
    line-height: 1.0 !important;
}
#spin:after {
  content:"";
  animation: spin 18s linear infinite;
}
@keyframes spin {
  0% { content:"HEY GOOD LOOKING"; }
  10% { content:"WHATSUP PAL"; }
  20% { content:"HOW YOU DOIN'?"; }
  30% { content:"WELCOME TO MY WEBSITE"; }
  40% { content:"I SEE YOU CHECKING ME OUT"; }
  50% { content: "WHAT'S THE STORY?"; }
  60% { content: "WELL HELLO THERE"; }
  70% { content: "TOP OF THE MORNING TO YOU"; }
  80% { content: "HEY HEY HEY"; }
  90% { content: "I JUST CAME TO SAY HELLO"; }
    100% { content: ""; }
}
.pad10{
    padding-top:  5px;
}

body .homeicon1:active{
background-color: #FCF7ED;
}
.paper-dropdown{
    width: 200px;
}
.drop-btn{
    width: 140px;
}
.square{
    width: 42px;
    height: 40px;
    margin-left: 16px;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
}

.next-drawn{
    width: 110px;
}
.prev-drawn{
    width: 110px;
}
.square-1{
    background-color: #8AEAEF; 
}
.square-2{
    background-color: #97FFCD; 
}
.square-3{
    background-color: #FFE898; 
}.square-4{

    background-color: #F5B3F2; 
}.square-5{
    background-color: #F4F4F4; 
}
.white{
    background-color:  #F4F4F4;
}
.burger{
    cursor: pointer;
}
.dropbtn {
  border: none;
 background-color: transparent;
}

.dropdown {
    margin-top: 0x;
    padding-top: 0px;
}

.dropdown-content {
  display: none;
  position: fixed;
  min-width: 158px;
  box-shadow: none;
  z-index: 1;
 text-align: center;
    padding-top: 48px;
    margin-left: -65px;
}

.dropdown-content a {
  color: black;
  padding: 9px 0px;
  text-decoration: none;
  display: block;
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 16px;
    font-variant: small-caps;
}
.drop-words1{
    margin-top: -172px;
    margin-left: 1px;
    margin-right: 1px;
}
.drop-words2{
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
}
.drop-words3{
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
}
.drop-words4{
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.drop-words12{
    margin-top: -215px;
    margin-left: 1px;
    margin-right: 1px;
}
.drop-words22{
    margin-top: -1px;
    margin-left: 1px;
    margin-right: 1px;
}
.drop-words32{
    margin-top: -1px;
    margin-left: 1px;
    margin-right: 1px;
}
.drop-words42{
    margin-top: -1px;
    margin-left: 1px;
    margin-right: 1px;
}
.dropdown-content2 {
  display: none;
  position: fixed;
  min-width: 158px;
  box-shadow: none;
  z-index: 1;
 text-align: center;
    padding-top: 60px;
    margin-left: -65px;
}
.dropdown-content2 a {
  color: black;
  padding: 7px 0px;
  text-decoration: none;
  display: block;
}
.drop-words1:hover{
    background-color: #BBE2F6;
}
.drop-words2:hover{
    background-color: #FCF7ED;
}
.drop-words3:hover{
    background-color: #D4B5F1;
}
.drop-words4:hover{
    background-color: #F1F1F1;
}

/*.dropdown-content a:hover {background-color: #ddd;}*/

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdown-content2 {display: block;}

.dropdown:hover .dropbtn {}


#mydiv {
  position: absolute;
  z-index: 1;
    padding-left:  234px;
    padding-top: 160px;
}
.lines{
   width: 499px; 
}
#mydivheader {
  cursor: move;
  z-index: 10;
}
.miore-head{
      padding: 10px;
    background-color: black;
  color: #fff;
text-align: center;
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 18px;
    font-variant: small-caps;
}
.autopro-a{
    width: 500px;
}
.miore-div{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #F1F1F1
        
}
.splash1{
 opacity: .8;
    position: absolute;
    margin-left: 10px;
    width: 200px;
}
.overflow{
    overflow: hidden;
}
.drawn-polaroid-icon{
    width: 220px;
    position: relative;
}
.caption{
    padding-top: 5px;
    padding-bottom: 20px;
}
.blacknote-hide{
    display: none;
    margin-bottom: -66px;
}
#note1{
    display:none;
}
.autopro-note{
    display: none;
    margin-left: -30px;
}
.baffled-note{
    display: none;
    float: right;
    margin-right: -30px;
}
.previous{
    text-align: left;
}
.prev-polaroid:hover + .autopro-note{
    display: block;
    margin-bottom: -45px; 
}
.next-polaroid:hover + .baffled-note{
    display: block;
    margin-bottom: -45px;
}
.next{
   text-align: right;
}
.shadow1{
    width: 280px;
    padding-top: 40px;
    margin-left: -120px;
}
.homeicon1:hover + .blacknote-hide{
    display: block;  
   /*  transition: top 1s ease-in-out;
  -o-transition: top 1s ease-in-out;
  -ms-transition: top 1s ease-in-out;
  -moz-transition: top 1s ease-in-out;
  -webkit-transition: top 1s ease-in-out;*/
}
.homeicon1:hover{
    max-width: 31vw;
    transition: 0.5s ease;
}
.blacknote-hide{
    max-width: 175px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}
.carousel-item{
    height: 130%;
    padding-top: 100px;
}   
.homebody{
    overflow-x: hidden;
    /*line-height: 1;*/
}

.polaroidvid{
    z-index: 2;
}
#myvid{
   width: 100%;
    z-index: 0;
    margin-top: -280px;
    
}
#vidbutton{
    font-size: 22px;
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-variant: small-caps;
    color: black;
    background-color: #FCF7ED;
    border: 0;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    border: 0;
    position: absolute;
    z-index: 1;  
    cursor: pointer;
    left: 50%;
    margin-left: -37px;
    margin-top: 100px;
    border-style: solid;
  border-width: 1px;
}
#vidbutton:focus {
    outline:none;
}

#vidbutton2{
 /*   margin-top: -200px !important;
    margin-bottom: 200px;*/
}
/*.polaroidposter2:hover {
    width: 400px;
    padding-right: 0px;
    margin-top: -30px;
    transition: .5s ease;
}

.polaroidposter2:hover + .polaroidposter1{
    width: 300px;
    padding-left: 0px;
    transition: .5s ease;
}*/

.fakeposter{
    position: relative;
    padding-bottom: 470px;
    width: 350px;
    margin-bottom: -470px;
    margin-left: 400px;
}
.fakeposter:hover + .polaroidposter1{
    width: 300px;
    padding-left: 20px;
    transition: .5s ease;
}
.fakeposter:hover ~ .polaroidposter2{
    width: 500px;
    padding-left: 0px;
    margin-top: -80px;
    transition: .5s ease;
}

.polaroidposter1:hover {
    width: 500px;
    padding-right: 0px;
    margin-top: -80px;
    transition: .5s ease;
}
.polaroidposter1:hover + .polaroidposter2{
    width: 300px;
    padding-right: 0px;
    transition: .5s ease;
}
.polaroidposter2{
    width: 430px;
    padding-left: 28px;
    transition: .5s ease;
    z-index: 2;
}
.polaroidposter1{
    width: 430px;
    padding-right: 28px;
    transition: .5s ease;
}




.polaroidback{
    background-color: #1F1F21;
    height: 820px;
    padding-top: 150px;
}
.posterfloat{
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
}
.helpme{
    margin-left: 7px;
    margin-right: 7px;
}
/*//////////////PAPER///////////////////*/
.paper{
    background-image: url(paper-background-02.png);
    background-repeat:  repeat;
        cursor: url('cursor_drawn.png'), default !important;
}
.paper-nav{
    width: 1600px;
    margin-top: -15px;
    height: 100px;
}
.navbox-paper{
    height: 50px;
    position: fixed;
    z-index: 1;
    margin-left: -100px;
}
.paper-work{
    padding-top:10px;
    max-width: 59px;
    cursor: url('cursor_click_drawn.png'), default !important;
    margin-left: -8px;
    transition: 0.5s ease;
    margin-top: -3px;
}
.paper-work:hover{
    max-width: 68px !important;
    cursor: url('cursor_click_drawn.png'), default !important;
    transition: 0.5s ease;
    margin-left: -12px;
}
.paper-about{
    padding-top:10px;
    max-width: 60px;
    cursor: url('cursor_click_drawn.png'), default !important;
     margin-left: -9px;
    transition: 0.5s ease;
    margin-top: -3px;
}
.paper-about:hover{
    max-width: 68px;
    cursor: url('cursor_click_drawn.png'), default !important;
    transition: 0.5s ease;
    margin-left: -12px;
}
.paper-back{
    padding-top:10px;
    max-width: 168px;
    cursor: url('cursor_click_drawn.png'), default !important;
}
.paper-back:hover{
     max-width:174px;
    cursor: url('cursor_click_drawn.png'), default !important;
    transition: 0.5s ease;
    margin-right: -6px;
}
.nudge{
    margin-left: 24px;
    margin-top: -6px;
}
.paper-alex{
    padding-top:8px;
    max-width: 94px;
    padding-left: 14px;
    cursor: url('cursor_click_drawn.png'), default !important;
}
.paper-alex:hover{
     max-width:102px;
    cursor: url('cursor_click_drawn.png'), default !important;
    transition: 0.5s ease;
    margin-left: -4px;
}
.newsbar{
    overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
    margin-bottom: -15px;
    margin-left: -15px;
    z-index: 2;
}
.newsbar-img{
    width: 110vw;
    cursor: url('cursor_click_drawn.png'), !important;
}


/*.note-drawn-1{
    bottom: 0;
    position: fixed;
    padding-bottom: 50px;
    display: none;
}
.newsbar:hover + .note-drawn-1{
    display: block;
    
}
.smaller{
    width: 220px;
}*/
.note-drawn-1{
    bottom: 0;
    position: fixed;
    padding-bottom: 0px;
    margin-bottom: -50px;
    transition: 0.5s ease;
}
.newsbar:hover + .note-drawn-1{
    padding-bottom: 50px;
    transition: 0.5s ease;
     margin-bottom: 0px
}
.smaller{
    width: 220px;
}
/*//////////////PAPER///////////////////*/

.drawn-prev-img{
    width: 100px;
}
.drawn-next-img{
    width: 100px;
    float: right;
}
.drawn-prev-note{
   display: none;
    width: 150px;
    float: left;  
    margin-top: 50px;
    margin-left: -20px;
}
.drawn-next-note{
   display: none;
    width: 150px;
    margin-top: 50px;
    float: right; 
    margin-right: -140px
}
.drawn-prev-img:hover + .drawn-prev-note{
    display: block;
} 
.drawn-next-img:hover + .drawn-next-note{
    display: block;
} 
.drawn-prev-img:hover{
    margin-left: -130px;
} 

.note-polaroid-01{
    max-width: 260px;
    margin-left: -30px;
    margin-top: -20px;
}
.arrow-polaroid-01{
    max-width: 70px;
}
.pp-row-01{
    margin-top: -70px;
}
.click{
cursor: url('cursor_click_drawn.png'), pointer !important;
}

.workbox{
    border-width: 1px;
    border-style: solid;
    height: 205px;
    width: 205px;
    margin-bottom: 10px;
}
.workbox-paper-2{
    height: 205px;
    width: 205px;
    margin-bottom: 10px;
}
.workbox-paper{
    height: 207px;
    width: 207px;
}
.paper-icon-move{
    margin-top: -200px;
}
.work-icon-1{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-1-2{
    width: 150px;
    padding-top: 55px;
    transition: 0.5s;
}
.work-icon-1:hover{
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-1-2:hover{
    width: 170px;
    padding-top: 50px;
    transition: 0.5s;
}



.work-icon-2{
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-2-2{
    width: 130px;
    padding-top: 30px;
    transition: 0.5s;
}
.work-icon-2:hover{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-2-2:hover{
    width: 150px;
    padding-top: 20px;
    transition: 0.5s;
}








.work-icon-3{
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-3-2{
    width: 130px;
    padding-top: 35px;
    transition: 0.5s;
}
.work-icon-3:hover{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-3-2:hover{
    width: 150px;
    padding-top: 25px;
    transition: 0.5s;
}




.work-icon-4{
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-4-2{
    width: 160px;
    padding-top: 35px;
    transition: 0.5s;
}
.work-icon-4:hover{
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-4-2:hover{
    width: 180px;
    padding-top: 30px;
    transition: 0.5s;
}




/*/////////////////////NAV//////////////////*/
.nav-type{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 200;
    font-size: 16px;
    font-variant: small-caps;
    text-decoration: none;
    position: fixed;
    margin-top: 8px;
    z-index: 10;
}
.fixed{
    position: fixed;
}
.navbox{
    width: 100vw;
    height: 56px;
    position: fixed;
    z-index: 1;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}
.nav-type:hover{
    font-weight: 700;
    text-decoration: none;
}
.nav-alex:hover{
    text-decoration: none;
}
.nav-alex{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 30px;
    font-variant: small-caps;
    position: fixed;
}
.div-nav-alex{
    margin-top: -10px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.nav-before{
    float: right;
    margin-right: -40px;
}
.bold{
   font-weight: 700; 
}
.navbar{
    padding-bottom: 5px;
    z-index: 10;
}
.nav-about{
    margin-left: -10px;
}
/*/////////////////////NAV//////////////////*/


.show-when-xs{
        display: none;
    }
    
.foot1{
   font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 14px;
    font-variant: small-caps;
    text-decoration: none; 
}
.foot2{
    font-family: Helvetica; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
}
.footer{
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.footer-about{
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    bottom: 0;
}
.footer-paper-div{
    padding-bottom: 20px;
    bottom: 0;
}
.fixed{
    position: fixed;
}
.pad100{
    padding-top: 100px;
}
.pad50{
    padding-top: 50px;
}
.bottom-20{
    padding-bottom: 20px;
}
.pad30{
    padding-bottom: 30px;
}
.pad5{
    padding-top: 5px;
}
 .beige{
        background-color: #FCF7ED;
    }
.offwhite{
    background-color: #F1F1F1;
}
.purple{
    background-color: #D4B5F1;
}
.blue{
   background-color: #BBE2F6; 
}
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 25px); }
    to   { transform: translate(0, -0px); }    
}


.floating2 {  
    animation-name: floating2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating2 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}


.homeicon1{
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
}
.homeicon2{
    max-width: 32vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    transition: 0.5s ease;

}
.homeicon3{
    max-width: 25vw;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
}
.homeicon4{
    max-width: 28vw;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
}
.homeicon5{
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -380px;
    transition: 0.5s ease;
}
.homeicon2:hover{
    max-width: 34vw;
    transition: 0.5s ease;
}
.homeicon3:hover{
    max-width: 27vw;
    transition: 0.5s ease;
}
.homeicon4:hover{
    max-width: 29vw;
    transition: 0.5s ease;
}
.homeicon5:hover{
    max-width: 32vw;
    transition: 0.5s ease;
}
.home-glyph{
   margin-left: 50px; 
}
.home-auto{
  margin-left: -100px;  
}
.blurhome{
   margin-left: -100px;  
}
.blurhome2{
   margin-left: 50px;  
}
a{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    color: black !important;
    text-decoration: none !important;
}
.carousel-inner{
    height: 105vh;
    margin-top: -20px;
    width: 110vw;
    margin-left: -5vw;
}
.blurpolaroid{
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;
}
/*.carousel-control-prev{
    width: 40vw;
    margin-left: -200px;
    overflow: hidden;
    cursor: url('prev.png'), default !important;
}
.carousel-control-next{
    width: 40vw;
    margin-right: -200px;
    overflow: hidden;
    cursor: url('next.png'), default !important;
}*/
.carousel-control-prev{
    font-size: 18px;
}
.carousel-control-next{
    font-size: 18px;
}

h1{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 70px;
    font-variant: small-caps;
}
h2{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 22px;
    font-variant: small-caps;
}
h3{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 14px;
    font-variant: small-caps;
    margin-bottom: 0px;
}
p1{
    font-family: Helvetica; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
    line-height: 22px !important;
}
p2{
    font-family: Helvetica; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
}
.line-p1{
      line-height: 22px;  
    }
.line-p2{
    line-height: 16px;
}
.fontblack{
    color: black;
}
.polaroidicon{
    max-width: 215px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
.baffledicon{
    max-width: 245px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    
}

.baffledicondiv{
    margin-top: 90px;
    padding-left: 40px;
    padding-top: 50px;
}
.minirow2{
    margin-top: -10px;
}
.autoproicon{
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    margin-top: -350px;
}
.glyphseticon{
  max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;  
}
.blur2{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
}
.blur6{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
}
.glyphsetdiv{
    margin-left: 150px;
    margin-right: -150px;
    overflow: none;
}
.blur3{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
    margin-top: -50px;
}

.paper-para-1{
   width: 300px; 
}

.polaroidpara{
    max-width: 435px;
}
.blur1{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
}
.polaroidicondiv{
    margin-top: 90px;
    padding-left: 40px;
}
.polaroidicondiv-drawn{
    margin-top: 40px;
    padding-left: 130px;
}
.minirow{
    margin-top: -50px;
}

.pad35{
    padding-bottom: 35px;
}

.polaroidicondivsm{
    display: none;
}

.hide-when-big{
    display: none;
}
.baffled-gif{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -2px;
    margin-bottom: -12px;
}

.resize{
    width: 910px;
}
iframe:focus {
  outline: none;
}
iframe {
  outline: none;
    background-color: white;
}

#containerworldTime {
    height: 600px;
    margin:auto;
    overflow: hidden;
    max-width: 912px;
}
#containerworldTime iframe {

    margin-left: -140px;
    margin-top: -95px;
    -webkit-transform:scale(0.77);
    -moz-transform:scale(0.77);
    -o-transform:scale(0.77);
    -ms-transform:scale(0.77);
}  
.bottom{
    margin-top: -40px;
    margin-left: -5px;
    margin-right: -5px;
}
.bottom2{
    background-color: #B886E9;
    width: 100%;
    height: 10px;
}



@media only screen and (max-width: 960px){
.workbox{
    height: 245px;
    width: 245px;
    margin-bottom: 10px;
    padding-top: 20px;
}
    .workbox-paper-2{
   height: 245px;
    width: 245px;
    margin-bottom: 10px;
}
}
/*/////////////////////MEDIA QUERIES 768//////////////////*/

@media only screen and (max-width: 768px){
 .workbox{
    width: 202px;
    height: 202px;
    margin-bottom: 10px;
    padding-top: 0px;
}
.workbox-paper-2{
    width: 202px;
    height: 202px;
    margin-bottom: 10px;
}
    
    .splash1{
    margin-top: -80px;
    opacity: .8;
    position: absolute;
    margin-left: -10px;
    width: 170px;
}

.drawn-polaroid-icon{
    margin-top: -80px;
    margin-left: -20px;
    width: 190px;
    position: relative;
}
    .drawn-prev-img{
    width: 80px;
        padding-left: 10px;
}
    
.drawn-next-img{
    width: 80px;
    float: right;
    padding-right: 10px;
}
    .newsbar{
    overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
    margin-bottom: -10px;
    margin-left: -15px;
    z-index: 5;
}
.newsbar-img{
    width: 350vw;
    cursor: url('cursor_click_drawn.png'), !important;
}
    .width-about{
        max-width: 440px;
        margin-left: auto;
        margin-right: auto;
    }
    #myvid{
   width: 100%;
    z-index: 0;
    margin-top: -210px;
    
}
    .phone-baffled{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .phone-img-baffled{
        width: 274px;
    }
    
    #containerworldTime {
    height: 400px;
    margin:auto;
    overflow: hidden;
    max-width: 750px;
}
#containerworldTime iframe {

    margin-left: -258px;
    margin-top: -170px;
    -webkit-transform:scale(0.57);
    -moz-transform:scale(0.57);
    -o-transform:scale(0.57);
    -ms-transform:scale(0.57);
} 
    .bottom{
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
}
.bottom2{
    background-color: #B886E9;
    width: 100%;
    height: 10px;
}
    #mydiv {
  position: absolute;
  z-index: 10;
    padding-left:  20px;
}
.lines{
   width: 319px; 
}
#mydivheader {
  cursor: move;
  z-index: 1;
}
.miore-head{
      padding: 10px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 16px;
    font-variant: small-caps;
}
.autopro-a{
    width: 320px;
}
/*.miore-div{
    padding-top: 50px;
    background-color: #F1F1F1;
}*/
    
    
    .autopro-icons-sm{
        margin-left: -100px;
    }
    .autoproicon{
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
    margin-top: -330px;
}
.glyphseticon{
  max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px; 
}
.blur2{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
}
.glyphsetdiv{
    margin-left: 100px;
    margin-right: -100px;
    overflow-x: hidden;
}
.blur3{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
    margin-top: -40px;
}

    
    .mobile-size{
        max-width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }
    .homeicon1:hover + .blacknote-hide{
    display: none;
    
    
}
    .carousel-control-prev{
    font-size: 14px;
}
.carousel-control-next{
    font-size: 14px;
}
    .homeicon1{
    max-width: 50vw;
}
.homeicon2{
    max-width: 50vw;
   /*padding-top: 100px*/;
}
.homeicon3{
    max-width: 45vw;
}
    
    .homeicon4{
    max-width: 32vw;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
}
.homeicon5{
    max-width: 42vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -330px;
    transition: 0.5s ease;
}
    .homeicon1:hover{
    max-width: 52vw;
    transition: 0.5s ease;
}
.homeicon2:hover{
    max-width: 52vw;
    transition: 0.5s ease;
}
.homeicon3:hover{
    max-width: 47vw;
    transition: 0.5s ease;
}
.homeicon4:hover{
    max-width: 33vw;
    transition: 0.5s ease;
}
.homeicon5:hover{
    max-width: 41vw;
    transition: 0.5s ease;
}
    .home-glyph{
   margin-left: 70px; 
}
.home-auto{
  margin-left: -50px;  
}
    .blurhome{
        -50px
    }
    .blurhome2{
        margin-left: 70px; 
    }
    
    
    
    
    
    .blurpolaroid{
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;
        padding-top: 5vh;
}
    .carousel-item{
    padding-top: 22vh;
}  
    
    .hide-when-big{
    display: block;
}
    .polaroidicon2{
    max-width: 215px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    margin-top: -50px;
}
    .hide-when-small{
        display: none;
    }
    .minirow{
        max-width: 435px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .minirow2{
        max-width: 435px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .polaroidpara{
        margin-left: auto;
        margin-right: auto;
    }
    .h1sm{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    

.burger{
    position: fixed;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 47vw;
    padding-right: 47vw;
    z-index: 1;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    }
    
    .burger2{
        position: fixed;
    padding-top: 10px;
    padding-left: 47vw;
    padding-right: 47vw;
    z-index: 1;
    }

.overlay {
    height: 0%;
    width: 100vw;
    margin-left: -15px;
    position: fixed;
    z-index: 2;
    overflow-x: hidden;
    transition: 0.5s;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin-top: -2px;
}
.overlay-content {
    position: relative;
    top: 10px;
    width: 100%;
    text-align: center;
    margin-top: 14px;  
    color: white;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    
}
.overlay a {
    padding: 5px;
    text-decoration: none;
    font-size: 27px;
    color: white;
    display: block;
    transition: 0.3s;    
}
  h4{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 24px;
    font-variant: small-caps;
    }
    .menubutton{
        color: black;
        font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 22px;
    font-variant: small-caps;
        padding-top: 6px;
        border-style: solid;
    border-width: 1px 1px 1px 1px;
        height: 50px;
        margin-top: 2px;
    }
     .menubutton3{
        color: black;
        font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 22px;
    font-variant: small-caps;
        padding-top: 12px;
        border-style: solid;
    border-width: 1px 1px 1px 1px;
        height: 50px;
        margin-top: 2px;
    }
    .closebtn{
        color: white !important;
        text-align: center;
        margin-top: 6px;
        position: relative;
    }
        .menu{
        margin-left: auto;
        margin-right: auto;
    }
        .mobile-paper-nav{
            width: 1000px;
            margin-left: -200px;
            position: fixed;
            z-index: 2;
}
    .alex-burger{
        margin-top: 10px;
        width: 90px;
        position: fixed;
        z-index: 2;
        left: 50%;
        margin-left: -45px;
    }
   
        .home-glyph{
            
}
}


/*/////////////////////MEDIA QUERIES 768//////////////////*/








/*/////////////////////MEDIA QUERIES 470//////////////////*/

@media only screen and (max-width: 470px){
    #vidbutton{
    
    margin-left: -37px;
    margin-top: -50px;
    border-style: solid;
  border-width: 1px;
}
    .next-drawn{
    width: 60px;
}
.prev-drawn{
    width: 60px;
}

    .workbox{
    border-width: 1px;
    border-style: solid;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}
    .workbox-paper-2{
     height: 150px;
    width: 150px;
    margin-bottom: 10px;
}
       .workbox-paper{
     height: 150px;
    width: 150px;
}
   .paper-icon-move{
    margin-top: -150px;
}
.work-icon-1{
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-1-2{
    width: 90px;
    padding-top: 45px;
    transition: 0.5s;
}
.work-icon-1:hover{
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-1-2:hover{
    width: 100px;
    padding-top: 50px;
    transition: 0.5s;
}



.work-icon-2{
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-2-2{
    width: 80px;
    padding-top: 30px;
    transition: 0.5s;
}
.work-icon-2:hover{
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-2-2:hover{
    width: 90px;
    padding-top: 20px;
    transition: 0.5s;
}








.work-icon-3{
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-3-2{
    width: 90px;
    padding-top: 30px;
    transition: 0.5s;
}
.work-icon-3:hover{
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-3-2:hover{
    width: 100px;
    padding-top: 25px;
    transition: 0.5s;
}




.work-icon-4{
    max-width: 110px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-4-2{
    width: 110px;
    padding-top: 35px;
    transition: 0.5s;
}
.work-icon-4:hover{
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-4-2:hover{
    width: 120px;
    padding-top: 30px;
    transition: 0.5s;
}

.splash1{
    margin-top: -80px;
    opacity: .8;
    position: absolute;
    margin-left: -30px;
    width: 115px;
}

.drawn-polaroid-icon{
    margin-top: -80px;
    margin-left: -40px;
    width: 130px;
    position: relative;
}
    .shadow1{
        width: 200px;
    }
    .collage{
        margin-left: -20px;
        margin-right: -20px;
        width: 400px;
    }
    .paper-menu-btn{
        width: 80px;
    }
    .overlay-paper {
    height: 0%;
    width: 100vw;
    margin-left: -15px;
    position: fixed;
    z-index: 100;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: -2px;
}
    .burger-paper-back{
        left: 50%;
        margin-left: -335px;
        width: 1040px;
        z-index: 100;
    }
    .overlay-content-paper {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
        margin-top: -330px;
    
}
    .width-about{
        max-width: 310px;
        margin-left: auto;
        margin-right: auto;
        max-height: 400px;
    }
    .overlay-content {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    
}
    .hide-when-xs{
        display: none;
    }
    .show-when-xs{
        display: block;
    }
    
#containerworldTime {
    height: 480px;
    margin:auto;
    overflow: hidden;
    max-width: 300px;
}
    
#containerworldTime iframe {

    margin-left: -35px;
    margin-top: -100px;
    -webkit-transform:scale(0.70);
    -moz-transform:scale(0.70);
    -o-transform:scale(0.70);
    -ms-transform:scale(0.70);
}
    iframe{
        width: 375px;
        height: 670px;
    }
        .homeicon4{
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
}
.homeicon5{
    max-width: 54vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -215px;
    transition: 0.5s ease;
}
.homeicon4:hover{
    max-width: 40vw;
    transition: 0.5s ease;
}
.homeicon5:hover{
    max-width: 55vw;
    transition: 0.5s ease;
}
    .home-glyph{
   margin-left: 30px; 
}
.home-auto{
  margin-left: -30px;  
}
        .blurhome{
   margin-left: -30px;  
}
.blurhome2{
   margin-left: 30px;  
}
    
    .autopro-icons-sm{
        margin-left: -100px;
    }
    .autoproicon{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
    margin-top: -200px;
}
.glyphseticon{
  max-width: 125px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;  
}
.blur2{
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
}
.glyphsetdiv{
    margin-left: 100px;
    margin-right: -100px;
    overflow: none;
}
.blur3{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;  
    margin-top: -30px;
}

    .polaroidposter2{
    width: 150px;
    padding: 0;
}
.polaroidposter1{
    width: 150px;
    padding: 0;
}

.polaroidback{
    background-color: #1F1F21;
    height: 240px;
    padding-top: 20px;
}
.posterfloat2{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.helpme{
    margin-left: 7px;
    margin-right: 7px;
    max-width: 342px;
        margin-left: auto;
        margin-right: auto;
}
    
    .mobile-size{
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    
        .carousel-item{
    padding-top: 30vh;
} 
    .burger{
        position: fixed;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 43vw;
    padding-right: 43vw;
       
    }
    .burger2{
        position: fixed;
    padding-top: 10px;
    padding-left: 43vw;
    padding-right: 43vw;
    z-index: 1;
    }
    .menubutton{
        color: black;
        font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 20px;
    font-variant: small-caps;
        
    }
       .menubutton5{
        padding-top: 18px;
        height: 50px;
        margin-top: 2px;
          margin-left: 60px;
          height: 50px;
    }
      .menubutton4{
        padding-top: 18px;
        height: 50px;
        margin-top: 12px;
          margin-left: 60px;
          height: 50px;
    }
    .paper-close{
        width: 30px;
        margin-top: 15px;
          margin-left: 80px;
    }
    h1{
    font-size: 54px;
}
h2{
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 20px;
}
h3{
    font-size: 12px;
}
p1{
    font-size: 14px; 
}
    p2{
    font-size: 12px; 
}
.line-p1{
      line-height: 20px;  
    }
.line-p2{
    line-height: 16px;
}
    .minirow{
        max-width: 335px;
    }
    .minirow2{
        max-width: 335px;
    }
    .polaroidpara{
        max-width: 335px;
        margin-left: auto;
        margin-right: auto;
    }
    .h1sm{
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
     .polaroidicon2{
    max-width: 110px;
    padding-bottom: 20px;
    margin-top: -40px;
}
    .blur1{
    max-width: 150px;
    opacity: .5;  
}
    h4{
    font-family: 'Roboto Mono', monospace; 
    font-weight: 700;
    font-size: 24px;
    font-variant: small-caps;
    }
    .move-phone{
        margin-top: -517px;
    }


}

/*/////////////////////MEDIA QUERIES 470//////////////////*/

@media only screen and (max-width: 376px){
    
      .workbox{
    border-width: 1px;
    border-style: solid;
    height: 130px;
    width: 130px;
    padding-top: 0px;
    margin-bottom: 10px;
}
     .workbox-paper-2{
     height: 130px;
    width: 130px;
}
    .workbox-paper{
     height: 130px !important;
    width: 130px;
}
   .paper-icon-move{
    margin-top: -130px;
}
    
    
.work-icon-1{
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-1-2{
    width: 90px;
    padding-top: 40px;
    transition: 0.5s;
}
.work-icon-1:hover{
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-1-2:hover{
    width: 100px;
    padding-top: 50px;
    transition: 0.5s;
}



.work-icon-2{
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-2-2{
    width: 80px;
    padding-top: 20px;
    transition: 0.5s;
}
.work-icon-2:hover{
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-2-2:hover{
    width: 90px;
    padding-top: 20px;
    transition: 0.5s;
}








.work-icon-3{
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-3-2{
    width: 90px;
    padding-top: 20px;
    transition: 0.5s;
}
.work-icon-3:hover{
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-3-2:hover{
    width: 100px;
    padding-top: 25px;
    transition: 0.5s;
}




.work-icon-4{
    max-width: 110px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-4-2{
    width: 110px;
    padding-top: 25px;
    transition: 0.5s;
}
.work-icon-4:hover{
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.work-icon-4-2:hover{
    width: 120px;
    padding-top: 30px;
    transition: 0.5s;
}

    
}